@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

                        /* TAG Selectors */
body{
    font-family: 'Montserrat', sans-serif;
}

h1{
    color:#fff;
    font-family: 'Dark-Montserrat', sans-serif;
    font-size:4rem;
    font-weight:bolder;
}
p{
    font-family: 'Roboto';
    font-size:0.9rem;
    color:black;
}
a{
    color:#b19cd9;
    font-family:'Roboto';
}
a:hover{

    transition:0.5s;
    color:purple;
    text-decoration:none;
}
hr{
    border:solid #aaa;
    border-width: 1px 0 0 0;
    opacity: 0.5;
    width:50%;
 
}
h2{
    color:purple;
    font-size:4rem;
}
h5{
    font-family: 'Open Sans';
    font-weight: bold;
    font-size:1rem;
}
h6{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size:0.8rem;
}

footer{
    text-align: center;
}


/****************** Class Selectors ****************/

        /* Site sections */
        /* Header */
            /* Navigation */
            .navigation{
               visibility: hidden;
            }
            .nav-item:hover{
                transition: 0.5s;
                transform:scale(1.1,1.2);
            }
            .navbar-brand{
                font-family:'Roboto';
                font-weight: bold;
            
            }
            .navbar-brand-animation{
                animation-name: brand;
                animation-duration: 5s;
                animation-iteration-count: infinite;
            }
            a.nav-link{
                margin:0px 20px;
            }
            @keyframes brand{
                0%{
                    transform: rotate(0deg);
                }
                50%{
                    transform: rotate(180deg);
                }
                100%{
                    transform: rotate(0deg);
                }
            }
            .bg-purple{
                background:repeating-linear-gradient(45deg,#b030b0,transparent)
            }
            /* Header container and elements */
            .container-fluid-top{
                padding:18% 15%;
                height:100vh;
            }    

            .title-paragraph{
                color:#fff;
                font-family: 'Montserrat';
                font-size:3rem;
                font-weight: 100;
            }
            .title-h1{
              width:500px;
              margin:0 auto;
            }

            /* Header background */

            .parallax-background{
                background:  no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                /* compatibilate browsere*/
                background-size: cover;
                /* imagine de fundal parallax */
              }
              .layer-Transparenta {
                background-image: linear-gradient(rgba(145, 86, 204, 0.4),
                    rgba(145, 86, 204, 0.4)),
                  url(https://c.wallhere.com/photos/58/c9/1920x1169_px_Fallout_Test_Patterns-825008.jpg!d);
                background-size:cover;
              }
            /* Icon header */
            .icon-header-container{
                position:absolute;
                bottom: 0px;
                left:0px;
                width:150px;
                height:150px;
                background:repeating-linear-gradient(45deg,#C2C2C2,transparent);
                text-align:center;
                border-top-left-radius: 10px;
                border-top-right-radius:10px;
            }
            .icon-container-fix{
                position:relative;
                

            }
            a.fas.fa-arrow-down{
                
                animation: arrow-move 2.5s infinite;
                color:#fff;
                margin-top:40px;
                height:60px;
                
                
            }
            @keyframes arrow-move{
                0%{margin-top:40px}
                50%{margin-top:60px;}
                100%{margin-top:40px}
                }
        
        /* Content*/

        /* Side bar */
        .page-bar{
            margin-top:0px;
            padding:20px 0px 0px 0px;
            /* background:repeating-linear-gradient(45deg,black,transparent),repeating-linear-gradient(60deg,purple,transparent)
            ,repeating-linear-gradient(80deg,black,transparent); */
            background:repeating-linear-gradient(45deg,black,transparent);
            right:90%;
            width:150px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius:10px;
            /* border:1px solid rgb(223, 102, 223); */
            display:inline-block;
        }
        .page-bar ul{
            text-align:center;
            list-style-type:none;
            padding-left:10px;
            margin-bottom:0px;
        
        }
        .page-bar li{
            padding:10px 20px 10px 10px;
            color:#fff;
        }
        .page-bar a{
            text-decoration: none;
            color:#fff;
        }
        .page-bar a:hover, .page-bar li:hover {
            color:rgba(200, 86, 204, 0.486);
            transition: 0.5s;   
        } 
        /*Despre mine */
            /* Container */
            .container-despre-mine{
             padding:0% 5% 5% 15%;
            }
            .container-fluid hr{
                width:90%;
            }
            .container-despre-mine-content{
                padding: 1% 0% 5% 9%;
            }
        /* Experienta */

            /*Experienta - Cards Bootstrap */


            /*Experienta - Tabel Bootstrap */

        /* Abilitati section */
            /* Cards Bootstrap */

            /* Gradients */
            .one{
                background:repeating-linear-gradient(45deg,red,orange);
            }
            .two{
                background:repeating-linear-gradient(45deg,green,blue);
            }
            .three{
                background:repeating-linear-gradient(45deg,green,yellow)
            }
            .four{
                background:repeating-linear-gradient(45deg,#aaa,#339AF0);
            }
            .five{
                background:repeating-linear-gradient(45deg,#ccc,#563D7C);
            }
            .six{
                background:repeating-linear-gradient(45deg,yellow,#009ACD);
            }
            
        /* Proiecte section */
            /* Galerie */

            /* Proiecte - Galerie*/
.container-fluid-image{
    position: relative;
    overflow:hidden;
    margin:10px;
}
figcaption{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(155, 24, 167, 0.644);
    visibility: hidden;
    opacity: 0;
    
    
    
}
.container-fluid-image:hover figcaption{
    transition:0.5s;
    visibility: visible;
    opacity: 1;
    overflow:hidden;
}
.container-fluid-image:hover img{
   

}
.container-fluid-image:hover .icon{
}

.container-figure{
    padding:8% 10%;
    
}
.fig-title{
    padding:5% 5% 0% 0;
}
.fig-body{
    padding: 6% 5% 5% 0;
}
.fig-footer{
    padding: 5% 5% 5% 0;
}
.container-figure hr{
    border:2px solid whitesmoke;
    width:100%;

}
.shadow-gallery{
    box-shadow: 0.3rem 0.5rem 1rem rgba(105, 13, 70, 0.185) !important;
  }
.container-figure h3,.container-figure p {
    font-family: 'Montserrat';
    text-align:left;
    color:#fff;
}
.icon-gallery-container{
    position:absolute;
    top:0;
    right:0;
    width:100px;
    height:100px;
}

a.fas.fa-chevron-circle-right{             
    animation: move 2s infinite;
    color:#fff;
    height:60px;
    
    
}
a.fas.fa-chevron-circle-right:hover{
    transform:rotate(360deg);
    transition:1s;
}
@keyframes move{
    0%{margin-left:0px}
    50%{margin-left:50px;}
    100%{margin-left:0px}
    }


        /* Footer */    
.hyperlink-icon{    
    color:#434242; 
    background-color:silver; 
    border-radius:7px;
    margin-right:15px; 
    padding:2%;
    display:inline;}
a.contact-hyperlink{
    color:silver;
}
a.contact-hyperlink:hover {
    color:#fff;
}
a.contact-hyperlink:hover .hyperlink-icon{
    background-color:#fff;
}
.container-footer{
    padding:1% 15%;
}
.fb-color{
    background-color:#44619D;
    border-color:#44619D;
}
.download-button{
    margin:5% 2% 5% 0;
  }
.button-projects{
    padding:5%;
}
.btn-outline-dark:hover{
    background-color:#b030b0;
    color:#fff;
    border-color:#b030b0;
    transition: 0.5s;
}



/* Titlu and parallax background */


                        /* Content */
                        /* Page bar */




.container-page{
    max-width:800px;
    text-align:center;
    display:inline-block;
    padding:5% 2%;
} 
.container-skill{
    padding:5% 2% 0% 5%;
    width:900px;
} 
.logo-gies{
    width:50px;
    height:50px;
}                     

.container-fluid-content{
    padding: 0 10%;
    
}
/* Content despre-mine */
.despre-mine-title{
    padding:8% 0% 1% 0%;
}
.container-fix{
    padding:0% 5%;
}
.top{
    margin-top:5%;
}
.title-image{
  display: block;
  max-height:300px;
  border-radius:50px;
  border: 10px solid #F3EFE0;


}
.content-one{
    
    text-align:left;
}
.content-one h3{
    color:#b030b0;
}
.content-two{
    text-align:left;
}
.content-two h3{
    color:#b030b0;
}
.titlu-paragraf{
    font-weight: bold;
}

/* Experienta content*/
.experience{
    text-align:left;
    padding:3% 0%;
}
.experience-title{
    padding:2% 0% 1% 0%;
}
.experience-sub-title{
    color:purple;
}
.quote{
    text-align:center;
    color:#aaa;
}
.container-sub-title-abilitati{
    padding-top:2%;
}


.card-body p{
    color:#fff;
}

.sub-title{
    text-align:center;
    padding-bottom:2%;
}
.table{
    padding-top:5%;
}
.table tr:hover{
    background-color:#eee;
    cursor:pointer;
    
}
.star{
    color:#b030b0;
}
.table tr:hover .star{
    transition:0.5s;
    transform:scale(1.1,1.2);
    color:purple;

}


/*************************** ID Selectors ****************/
#titlu{
    text-align:center;
   
}
#despre-mine{
    text-align:center;
    margin-top:-500px;

}
#content{
    position:relative;
}
#experienta{
    
    text-align:center;
    background-color:#F3EFE0;
}
#abilitati{
    text-align:center;
}

#proiecte{
    text-align:center;
    background-color:#F3EFE0;
}

#footer{
    text-align:center;
    background-color:#434242;
}
#footer h2{
    letter-spacing: 1px;
    color:#fff;
}

/* Asezare pagina */
.left{
    text-align:left;

}
.right{
    text-align:right;
}
        /*Footer*/

/* Media Breakpoints - Mobile responsive */

/* Extra small devices - Portrait phones (<544px) */
@media screen and (max-width:544px){
    .navigation{
        visibility: visible ;
    }
    .icon-header-container{
        display: none;
    }
    .page-bar{
        display: none;
    }
    .title-paragraph{
        font-size:1.2rem;
    }

    h1{
        font-size:1.5rem;
    }
    .container-fluid-top{
        padding:45% 15%;
    }
    #despre-mine{
        margin-top:0;
    }
    .container-sub-title-abilitati{
        display:none;
    }
    .card-deck{
        display:none;
    }
    .container-despre-mine{
        padding:5% 2%;
    }
    .content-one{
        text-align:center;
        padding-bottom:2%;
    }
    .image-div{
        margin-left:10%;
        padding-bottom:2%;
    }
    .content-two{
        text-align:center;
        padding-bottom:2%;
    }
    #abilitati{
        display:none;
    }
    /*Gallery*/
    .fig-title{
        padding:0;
    }
    .fig-body{
        padding:0;
    }
    .fig-footer{
        padding:0;
    }

    /*Footer*/
    .container-footer{
        padding:2% 5%;
    }
    .hyperlink-icon{
        margin:5px;
        padding:1%;
    }
    a.contact-hyperlink{
        font-size:0.75rem;
        text-align:left;
    }
    .second-icon{
        padding:5%;
    }
    .right{
        text-align:left;
    }
}

/*Small devices - Landscape phones (≥544px - <768px)*/
@media (min-width:544px) and (max-width:768px){
    .navigation{
        visibility: visible ;
    }

    .icon-header-container{
        display: none;
    }

    .title-paragraph{
        font-size:1.2rem;
    }

    h1{
        font-size:1.5rem;
    }
    .page-bar{
        display: none;
    }
    .container-fluid-top{
        padding:50% 15%;
        height:100vh;
    }
    #despre-mine{
        margin-top:0;
    }
    .container-sub-title-abilitati{
        display:none;
    }
    .card-deck{
        display:none;
    }
    .container-despre-mine{
        padding:5% 0%;
    }
    .content-one{
        text-align:center;
        padding-bottom:2%;
    }
    .image-div{
        margin-left:25%;
        padding-bottom:2%;
    }
    .content-two{
        text-align:center;
        padding-bottom:2%;
    }

        /*Footer*/

}
/*Medium devices -Tablets (≥768px - <992px) */
@media(min-width:768px) and (max-width:992px){
    .navigation{
        visibility: visible ;
    }
    .icon-header-container{
        
        display: none;
    }
    .page-bar{
        display:none;
    }
    .container-fluid-top{
        padding:40% 15%;
        height:100vh;
    }
    .container-despre-mine{
        padding:5% 0%;
    }

    #content{
        top:-4rem;
    }
    #despre-mine{
        margin-top:0;
    }
    .card-deck{
        display:none;
    }
}
/*Large devices - Desktops (≥992px - <1200px)*/
@media(min-width:992px) and (max-width:1200px){
    .navigation{
        visibility: visible ;
    }
    .page-bar{
        display:none;
    }
    .icon-header-container{
        display: none;
    }
    .container-fluid-top{
        padding:20% 15%;
        height:100vh;
    }
    #content{
        top:-2rem;
    }
    #despre-mine{
            margin-top:0;
            
        }

}
/*Extra large devices - Desktops (≥1200px)*/
@media(min-width:992px) and (max-width:1200ox){

    .navigation{
        visibility: visible ;
    }
    .container-fluid-top{
        padding:20% 15%;
        height:100vh;
    }
    #despre-mine{
        margin-top:0;
    }
    nav{
        display:none;
    }
}
